*{
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}
body{
    margin: 0;
}

/* nav start  */
h1{
    font-size: 2.5rem;
    text-align: center;
}
a{
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}

[class*="col-"]{
    float: left;
    padding: 10px;
}

/* for mobile */
[class*="col-"]{
    width: 100%;
}

.nav-logo img{
    width: 60px;
    height: 60px;
}

.navbar h1{
    color: white;
    margin: 0;
    padding-top: 10px;
}

.navbar-menu{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.navbar-menu a{ 
    background-color: #0c6168;
    border-radius: 10px;
    margin: 7px 0;
    padding: 10px;
}

.navbar-menu a:hover{
    background-color: gray;
}

.navbar{
    background-color: #40868b;
    /* background-color: aquamarine; */
    padding: 1% 7%;
    text-align: center;
}
.navbar::after{
    content: '';
    display: table;
    clear: both;
}

/* nav end  */

/* about me start  */
h2{
    font-size: 1.5rem;
    text-align: center;
}

.about-me{
    background-color: #39a4ac;
    padding: 1% 7%;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.about-me::after{
    content: '';
    display: table;
    clear: both;
}
.dotted-hr{
    border: 6px dotted white;
    border-bottom: none;
    margin: 20px auto;
    width: 100px;
}
.aboutme-image img{
    border: 5px solid white;
    border-radius: 50%;
    height: 220px;
    width: 200px;
}
.about-me p{
    text-align: center;
}
.about-me a{
    font-size: 1.2rem;
}
.cv-button{
    background-color: #052d2f;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 15px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    margin: 10px;
}
/* about me end */

 /* card section start  */
.proffesional-experience{
    padding: 1% 0%;
}
.proffesional-experience .card{
    background-color: #a39e9e;
    border-radius: 5px;
    padding: 10px;
    transition: 0.3s;
    height: 700px;
}
.proffesional-experience .card:hover{
    box-shadow: 0 4px 8px 5px black;
}

.card-icon{
    text-align: center;
}
.card-icon img{
    margin: 20px;
    width: 80px;
}

.rounded-image{
    border: 5px solid white;
    border-radius: 50%;
    padding: 15px;
}

.card-title h2{
    background-color: #616161;
    color: white;
    padding: 10px;
    text-align: center;
}

.proffesional-experience::after{
    content: '';
    display: table;
    clear: both;
}
 /* card section end */