.main{
    /* text-align: center; */
    background-color: pink;
    height: 400px;
    width: 80%;
    margin: 0 auto;

    position: relative;
}

.desc{
    background-color: tomato;
    width: 300px;
    height: 200px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* display: flex;
    justify-content: center;
    align-items: center; */
}

/* h1{
    width: 200px;
    margin: 0 auto;
} */