#div1{
    height: 200px;
    width: 200px;
    background-color: black;
    margin: 0 auto;
    margin-top: 200px;
    transition: 3s;
    
}

#div1:hover{
    /* transform: scale(2); */
    /* transform: rotate(135deg); */
    /* transform: skew(-20deg); */
    transform: translate(100px, 100px);
}